{
  "BOT_TOKEN": "BOT_TOKEN_ANDA",
  "USER_ID": "CHAT_ID_ANDA",
  "GROUP_ID": "GROUP_ID_ANDA",
  "NAMA_STORE": "NAMA_STORE_ANDA",
  "PORT": "50123",
  "DATA_QRIS": "DATA_QRIS_ANDA",
  "MERCHANT_ID": "MERCHANT_ID_ANDA",
  "API_KEY": "API_KEY_ANDA",
  "ADMIN_USERNAME": "ADMIN_USERNAME_ANDA",
  "SSH_USER": "root",
  "SSH_PASS": "PASSWORD_VPS_ANDA"
}
